<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>weather</title>
  <link rel="stylesheet" href="/css/styles.css">
  <script src="js/script.js"></script>
</head>
<body>
  <section>
    <h1>Form a static file Weather</h1>
  </section>
</body>
</html>